<div class="search mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <form>
      <div
        class="
          mdl-textfield mdl-js-textfield
          mdl-textfield--floating-label mdl-textfield--align-right
        ">
        <input class="mdl-textfield__input" type="text" id="search-field">
        <label class="mdl-textfield__label" for="search-field">
          Search an artiste
        </label>
      </div>
    </form>
  </div>
</div>
<div class="cart mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <cart></cart>
  </div>
</div>
<div class="tracks mdl-grid">
  <div class="mdl-cell mdl-cell--8-col">
    <tracks-list></tracks-list>
  </div>
</div>
